@import 'marble.css';

:root {
    --text-color: #e4e4e4e3;
    --primary-color: #ffffff;
    --bg-color: #2B2B2B;
    --side-bar-bg-color: #181c24;
    --panel-bg-color: #40464f;

    --code-color: #f2f2f2;
    --marker-color: #f2f2f2;
    --highlight-color: #ffffb5c2;
    --header-udln-color: #A9A9A9;
    --block-bg-color: #a4a3a38c;
    --img-shadow-color: var(--block-bg-color);

    --md-char-color: #7d8a9f7d;
    --heading-char-color: var(--text-color);
    --select-text-bg-color: #dae3ea2e;
    --search-select-bg-color: #112332;
    --item-hover-bg-color: var(--block-bg-color);
    --window-border: 1px solid var(--bg-color);
    --control-text-hover-color: var(--text-color);
    --rawblock-edit-panel-bd: var(--block-bg-color);
}

content {
    background: var(--bg-color);
}

#write h2 {
    color: var(--text-color);
}

mark {
    background: var(--highlight-color);
    border-radius: 1px;
    color: var(--bg-color);
}

#write blockquote {
    background: var(--block-bg-color);
}

#write code {
    color: var(--code-color);
}

#write table.md-table tr th,
#write table.md-table tr td {
    border: 1px solid var(--header-udln-color);
}

#write table.md-table tr th {
    color: var(--text-color);
}

table.md-table.md-table td {
    background-color: var(--bg-color);
}

#write table.md-table tr td:hover,
#write table.md-table tr th:hover {
    background-color: var(--side-bar-bg-color);
}

#recent-file-panel {
    color: var(--text-color);
}

#recent-file-panel-action-btn {
    background-color: var(--bg-color);
}

#recent-file-panel-action-btn-container {
    color: rgba(146, 146, 146, 0.56);
}

#recent-file-panel tbody tr:nth-child(2n-1) {
    background-color: var(--panel-bg-color);
}

.megamenu-menu-panel .btn {
    border: 1px solid #9292925d;
}

.task-list-item input:checked::before,
.task-list-item input:before {
    background-color: var(--bg-color);
}

#typora-sidebar {
    color: var(--text-color);
    background-color: var(--side-bar-bg-color);
}

#write hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1.4px solid;
    border-image: linear-gradient(to right, transparent 10%, #E8E8E8 25%, #E8E8E8 75%, transparent 90%) 1;
    border-radius: 2px;
    /* ??±?·????? */
}


.md-fences:before {
    content: ' ';
    display: block;
    width: 100%;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: #d9d9d9;
    margin-bottom: -7px;
    border-radius: 5px;
    background-position: 10px 10px;
}

.CodeMirror-wrap .CodeMirror-scroll {
    overflow-x: auto;
}

.md-fences .cm-s-inner.CodeMirror {
    margin: 1.5rem 0;
}

.cm-s-inner.CodeMirror {
    padding: 1.2rem .8rem;
    color: #674f53;
    font-family: 'JetBrainsMono';
    border-radius: 10px;
    background-color: #3B3B3B;
    line-height: 1.6rem;
}

.CodeMirror-gutters {
    border-right: 1px solid #a2b6d452;
    background: inherit;
    white-space: nowrap;
}

/* 操作符 - 铁灰色 */
.cm-s-inner .cm-operator {
    color: #888f9a !important;
}

/* 字符串 - 黄铁矿 */
.cm-s-inner .cm-string {
    color: #be5f1b !important;
}

/* 变量3、类型、原子 - 蓝宝石 */
.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type,
.cm-s-inner .cm-atom {
    color: #5b95f1 !important;
}

/* 定义、限定符 - 青金石 */
.cm-s-inner .cm-def,
.cm-s-inner .cm-qualifier {
    color: #1b6fcf !important;
}

cm-s-inner .cm-link,
.cm-s-inner.cm-link {
    color: #9dafbe;
}

.cm-s-typora-default .cm-link {
    color: #9fabb6;
    text-decoration: underline;
}

.typora-sourceview-on #toggle-sourceview-btn {
    background: #41444b;
}

.typora-sourceview-on #toggle-sourceview-btn {
    background: #41444b;
    padding-left: 10px;
    margin-left: -2px;
}

.nav-group-item.active {
    background: var(--block-bg-color) !important;
    color: var(--bg-color);
}

.md-def-name:before {
    color: var(--md-char-color);
}

::-webkit-scrollbar-thumb {
    background: var(--block-bg-color);
}